<nav>
  <a href="{{BASE}}/">Basic Demo</a>
  <a href="{{BASE}}/double-spread.html">Double-spread (12MB PDF)</a>
  <a href="{{BASE}}/stress-test-large-pdf.html">Long 827 page PDF</a>
  Remote PDF:
  <a href="{{BASE}}/html-download-example.html">HTML proxy</a>
  <a href="{{BASE}}/remote-pdf-allowed.html">Remote file</a>
  <a href="{{BASE}}/remote-pdf-cors-fail.html">Remote (expected CORS failure)</a>
  <a href="https://github.com/khawkins98/PDF-A-go-go" target="_blank" rel="noopener">GitHub Repo</a>
</nav>
